<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/base.css">

<body>
    
    <nav class="navbar">
        <div class="navbarlogo">
            <a class="logo" href="#">
                <img src="static/images/IT-logo.png">
            </a>
        </div>
            
            <div class="navbar-links" id="navbarNav">
                <ul>
                    {% if current_user.is_authenticated: %}
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    
                    <li>
                        <a href="/register">Register New User</a>
                    </li>
                    
                    <li>
                        <a href="/faculty">Add New Faculty</a>
                    </li>
                    <li>
                        <a href="/request">Add Loan</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
    <hr>
    
    {% block content %}{% endblock %}
</body>

</html>