<html>
    <head>
        <style>
            table, th, td{
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <title>VelocIT</title>
    </head>

    <body>
        <h1 style=color:red>VelocIT</h1>
        <hr>
        <div>
            <a href="/">Login</a>
            <a href="/register">Register</a>
            <a href="/home">Home</a>

        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>