<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VelocIT</title>
        <link rel="stylesheet" href="static/base.css">
    </head>
<body>

    <nav class="navbar">
        <div class="navbar-links">
            <ul>
                {% if current_user.is_authenticated: %}
                <li class="logo">
                    <a href="#"> VelocIT </a>
                </li>

                <li class="item">
                    <a href="/home">Home</a>
                </li>
                
                <li class="item">
                    <a href="/register">Register New User</a>
                </li>
                
                <li class="item">
                    <a href="/faculty">Add New Faculty</a>
                </li>
                
                <li class="item">
                    <a href="/request">Add Loan</a>
                </li>

                <li class="item">
                    <a href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>

        </div>

    </nav>


    
    {% block content %}{% endblock %}
</body>

</html>