{% extends "base.html" %}

{% block content %}
<head>
    <title>Faculty</title>
    <body>
        <div class="navbar-links">
            <h2>Faculty</h2>
            <form method="POST">
                {{ form.hidden_tag()}}
                <div class="inp-form">
                    {{ form.name.label }}
                    {{ form.name }}
                </div>

                <div>
                    {{ form.department_id.label }}
                    {{ form.department_id }}
                </div>

                {{ form.submit }}


            </form>
        </div>

    </body>
</head>
{% endblock%}