<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table, td, th {
                border: 1px solid gray;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>

        {% if current_user.is_authenticated %}
        Hi {{ current_user.First_Name }}!
        <a href="{{url_for('logout')}}">Logout user</a>
        <a href="{{url_for('register')}}">Register New User</a>
        {% endif %}

        <p>Here are all the loan requests and details:</p>
        <table>
            <tr>
                <td>Faculty</td>
                <td>Device</td>
                <td>Where is the Device Located</td>
                <td>When will this Device be deployed?</td>
                <td>Why do you need this device?</td>
            
            </tr>
            {% for loan in loans %}
            <tr>
                <td>{{loan.faculty}}</td>
                <td>{{loan.device}}</td>
                <td>{{loan.is_located}}</td>
                <td>{{loan.loan_date_in}}</td>
                <td>{{loan.why}}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No Data</td>
            </tr>
            {% endfor %}
        </table>

        <a href = "{{ url_for('request_loan')}}">Request Loan</a>


    </body>
    
</html>