{% extends "base.html" %}

{% block content %}

<head>
    <title>VelocIT</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    {% if current_user.is_authenticated %}
    <div class="alert" role="alert">
        Hello {{current_user.First_Name}}!
        {% endif %}
    </div>

        <div class="table-container">
            <p><b>Here are all the loan requests and details:</b></p>
            <table class="container mt-5 table table-bordered">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Barcode</th>
                        <th>Equipment Model</th>
                        <th>Equipment Type</th>
                        <th>Loan Return Date</th>
                        <th>Date Loan was Taken Out</th>
                        <th>Faculty Name</th>
                    </tr>
                </thead>
                
                {% for loan in loans %}
                <tbody>
                    <tr>
                        <td>{{loan.serial_number}}</td>
                        <td>{{loan.barcode}}</td>
                        <td>{{loan.equipment_model}}</td>
                        <td>{{loan.equipment_type}}</td>
                        <td>{{loan.return_date}}</td>
                        <td>{{loan.borrow_date}}</td>
                        <td>{{loan.faculty_name}}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7">No Data</td>
                    </tr>
                    {% endfor %}
                </tbody>
                    
            </table>
        </div>
    
</body>

{% endblock %}