{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>Input Loan Details Here</p>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{form.barcode.label}}
                {{form.barcode()}}
            </p>
            <p>
                {{form.Equipment_Model.label}}
                {{form.Equipment_Model()}}
            </p>
            <p>
                {{form.Equipment_Type.label}}
                {{form.Equipment_Type()}}

            </p>
            <p>
                {{form.borrow_date.label}}
                {{form.borrow_date()}}

            </p>
           
            <p>
                {{form.return_date.label}}
                {{form.return_date()}}
            </p>

            <p>
                {{form.faculty_name.label}}
                {{form.faculty_name()}}
            </p>
            <p>
                {{form.faculty_email.label}}
                {{form.faculty_email()}}
            </p>

            {{form.submit}}
        </form>
    </body>
</html>
{% endblock %}