{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/loan.css">
    </head>
    <body>
        <p>Input Loan Details Here</p>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                <label for="{{form.serial.id}}">{{form.serial.label}}</label>
                {{form.serial}}
            </p>
            <p>
                <label for="{{form.barcode.id}}">{{form.barcode.label}}</label>
                {{form.barcode}}
            </p>
            <p>
                <label for="{{form.model.id}}">{{form.model.label}}</label>
                {{form.model}}
            </p>
            <p>
                <label for="{{form.type.id}}">{{form.type.label}}</label>
                {{form.type}}
            </p>
            <p>
                <label for="{{form.loan_in_date.id}}">{{form.loan_in_date.label}}</label>
                {{form.loan_in_date}}
            </p>
            <p>
                <label for="{{form.loan_date_out.id}}">{{form.loan_date_out.label}}</label>
                {{form.loan_date_out}}
            </p>
            <p>
                <label for="{{form.faculty_name.id}}">{{form.faculty_name.label}}</label>
                {{form.faculty_name}}
            </p>
            {{form.submit}}
        </form>
    </body>
    </html>
    {% endblock %}
</html>
{% endblock %}