{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href= "static/login.css">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="form-box">
        <h1> Login to your account </h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <div class="input-field">
                    <img src="static/images/user-icon.png">
                    {{ form.user_name.label }}
                    {{ form.user_name }}
                </div>

                <div class="input-field">
                    <img src="static/images/lock-icon.png">
                    {{ form.password.label}}
                    {{ form.password}}
                </div>

                <div class="input-field">
                    {{ form.submit}}
                </div>
                
            </div>
        </form>
    </div>

</body>

</html>
{% endblock %}