{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href= "static/login.css">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="form-box">
        <img src="static/images/IT-logo.png">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                <div class="input-field">
                    <img src="static/images/user-icon.png">
                    <!--{{ form.user_name.label(class="form-label") }}-->
                    {{ form.user_name(class="form-control") }}
                </div>

                <div class="input-field">
                    <img src="static/images/lock-icon.png">
                    <!--{{ form.password.label(class="form-label")}}-->
                    {{ form.password(class="form-control")}}
                </div>

                <div class="btn-field">
                    {{ form.submit(class="btn")}}
                </div>

                <a href="#"> Forgot password?</a>
                
            </div>
        </form>
    </div>

</body>

</html>
{% endblock %}