{% extends "base.html" %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VelocIT</title>
    <!-- Add Bootstrap CSS via CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <title>Register</title>
</head>
<body class="container mt-5">
    <p>{{ msg }}</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Sign-up</h2>
                    <form method="post" class="needs-validation" novalidate>
                        {{ form.hidden_tag() }}       
                        <div class="mb-3">
                            {{ form.user_name.label(class="form-label") }}
                            {{ form.user_name(class="form-control" ~ (' is-invalid' if form.user_name.errors or form.user_name.data in existing_usernames else ''), required="required") }}       
                            {% for error in form.user_name.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}

                            {% if form.user_name.data in existing_usernames %}
                                <div class="invalid-feedback">This username is already taken. Please choose a different one.</div>
                            {% endif %}
                        </div>                    



                        <div class="mb-3">
                            {{ form.user_password.label(class="form-label") }}
                            {{ form.user_password(class="form-control" ~ ' is-invalid' if form.user_password.errors else '', required="required") }}
                            {% for error in form.user_password.errors %}
                                <div class="invalid-feedback">Password is required.</div>
                            {% endfor %}
                        </div>
            
                        <div class="mb-3">
                            {{ form.First_Name.label(class="form-label") }}
                            {{ form.First_Name(class="form-control" ~ ' is-invalid' if form.First_Name.errors else '', required="required") }}
                            {% for error in form.First_Name.errors %}
                                <div class="invalid-feedback">First Name is required.</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.Last_Name.label(class="form-label") }}
                            {{ form.Last_Name(class="form-control" ~ ' is-invalid' if form.Last_Name.errors else '', required="required") }}
                            {% for error in form.Last_Name.errors %}
                                <div class="invalid-feedback">Last Name is required.</div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control" ~ (' is-invalid' if form.email.errors or form.email.data in existing_emails else ''), required="required") }}

                            {% for error in form.email.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}

                            {% if form.email.data in existing_emails %}
                                <div class="invalid-feedback">This email is already associated to an account. choose a different one.</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.Birth_Date.label(class="form-label") }}
                            {{ form.Birth_Date(class="form-control" ~ ' is-invalid' if form.Birth_Date.errors else '', type="date", required="required") }}
                            {% for error in form.Birth_Date.errors %}
                                <div class="invalid-feedback">Birth Date is required.</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.Univ_ID.label(class="form-label") }}
                            {{ form.Univ_ID(class="form-control" ~ (' is-invalid' if form.Univ_ID.errors or form.Univ_ID.data in existing_univ_ids else ''), required="required") }}

                            {% for error in form.Univ_ID.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}

                            {% if form.Univ_ID.data in existing_univ_ids %}
                                <div class="invalid-feedback">This University ID is already associated to an account. Please use a different one.</div>
                            {% endif %}
                        </div>











                        {{ form.submit(class="btn btn-primary w-100") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}