{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="static/reset_password.css">
</head>
<body>
    <div class="password-reset-form">
        <p>Enter new password</p>
        <form method="post">
            {% if msg is not none %}
                <div class="message">{{ msg }}</div>
            {% endif %}
            {{ form.hidden_tag() }}
            <p>
                <label for="{{ form.password.id }}">{{ form.password.label }}</label>
                {{ form.password }}
            </p>
            <p>
                <label for="{{ form.confirmPassword.id }}">{{ form.confirmPassword.label }}</label>
                {{ form.confirmPassword }}
            </p>
            {{ form.submit }}
        </form>
    </div>
</body>