{% extends "base.html" %}
{% block content %}
<body class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-4">Verify Your Identity to Reset Your Password</h2>
            <form method="post">
                {% if msg is not none %}
                    <div class="alert alert-danger">{{ msg }}</div>
                {% endif %}
                {{ form.hidden_tag() }}
                
                <div class="form-group">
                    <label for="{{ form.user_name.id }}">{{ form.user_name.label }}</label>
                    {{ form.user_name }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.Univ_ID.id }}">{{ form.Univ_ID.label }}</label>
                    {{ form.Univ_ID }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.Birth_Date.id }}">{{ form.Birth_Date.label }}</label>
                    {{ form.Birth_Date }}
                </div>
                
                <div class="form-group">
                    <label for="{{ form.email.id }}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                
                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% endblock %}