*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kantumruy', sans-serif;
}

nav{
    background-color: #363636;
    padding: 5px 20px;

}

ul{
    list-style-type: none;
}

a{
    color: white;
}