
.table thead{
    background-color: #31373e;
}

.table-bordered{ 
    color: white;
}

.table tbody tr td{
    color: #212529;
    background-color: #eaeaea;
    text-align: center;
    border: 1px solid #0000;
}