
.table thead{
    background-color: #31373e;
}

.table-bordered{ 
    color: white;
}

.table tbody tr td{
    color: #212529;
    background-color: #eaeaea;
    text-align: center;
    border: 1px solid #0000;
}

.navbar-brand img,
img{
    width: 15%;
    height: 10%;
}


.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    
}


.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th{
    background-color:rgb(27,35,77);
}

.center{
    text-align: center;
    font-weight: bold;
}