*{
    margin: 0;
    padding: 0;
    font-family: 'Kantumruy', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

.form-box img{
    width: 220px;
    height: 42px;
}

.input-field{
    background: #eaeaea;
    margin: 18px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;

}

.input-field img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.input-group {
    align-items: center;

    

}

.input-group a{
    color: white;
    outline: none;
    text-decoration: none;
    
 
}


.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #212529;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 20px;
    margin-bottom: 60px;
    color: white;
    position: relative;

}



.form-control {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
    
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.btn {
    flex-basis: 48%;
    background: #d56348;
    color: #fff;
    height: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-left: 80px;
    
    

}

.btn:hover{
    background-color: #964B39;
}




