* {
    margin: 0;
    padding: 0;
    font-family: 'Kantumruy', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

.form-box img {
    width: 220px;
    height: 42px;
}

.input-field {
    background: #eaeaea;
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.input-field img {
    width: 17px;
    height: 17px;
    margin-left: 10px;
}

.input-group {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center;
}

.input-group a {
    color: white;
    outline: none;
    text-decoration: none;
}

form p{
    color:#fff;
}


.form-box {
    width: 90%;
    max-width: 350px;
    position: absolute;
    top: 55%; /* Adjusted from 60% to center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    background: #212529;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 20px;
    margin-bottom: 60px;
    color: white;
    position: relative;
}

.form-control {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 12px;
}

.btn-field {
    width: 100%;
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center;
}

.btn {
    flex-basis: 48%;
    background: #d56348;
    color: #fff;
    height: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-top: 10px; /* Adjusted margin from the left */
}

.btn:hover {
    background-color: #964b39;
}

hr {
    margin-top: 480px; /* Adjusted margin-top value to create space between login card and table */
}

.table {
    width: 90%;
    max-width: 600px; /* Adjusted max-width value for the table */
    margin: 20px auto; /* Center the table horizontally and provide margin */
}
